:root {
    --mainColor: #d2470b;
    --mainColorActive: #b43300  ;
    --mainColor2: #FAFAFA;

    --accentColor: #717171;
    --accentColor2: #dcdcdc;

    --backgroundColor: #eaeaea;

    --fontColorAccent: white;
    --darkerFontColor: #333333;
    --normalFontColor: #555555;
    --lighterFontColor: #888888;

    --mainTransition: 0.3s;

    padding: 0;
    margin: 0;

}

body {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: var(--backgroundColor);
}

a {
    text-decoration: none;
}

ul {
    padding: 0;
}

h1 {
    color: var(--normalFontColor);
    font-size: 5rem;
}

h2 {
    color: var(--normalFontColor);
    font-size: 3rem;
}

h3 {
    color: var(--lighterFontColor);
    font-size: 2rem;
}

input[type=text]{
    background: var(--backgroundColor);
    margin: 0.5vh 0;
    font-size: 2em;
    padding-left: 1em;
    border-style: none;
    border-radius: 1em;
}
input[type=text]:focus{
    outline: none;
}

textarea{
    background: var(--backgroundColor);
    margin: 0.5vh 0;
    font-size: 2em;
    padding-left: 1em;
    border-style: none;
    border-radius: 1em;
}
textarea:focus{
    outline: none;
}

.card {
    margin: 5vw;
    padding: 2em;
    border-radius: 3em;
    border-style: none;
}
.button {
    background: var(--mainColor);
    display: block;
    margin: 0.5vh auto;
    width: fit-content;
    color: var(--fontColorAccent);
    padding: 1rem 3rem;
    font-size: 2rem;
    border-radius: 1rem;
}
.button:active{
    background: var(--mainColorActive);
}


/*----Nav- & Sidebar----*/

.ico {
    font-size: 7em;
    color: var(--normalFontColor);
    margin: 0.1em;
}

.navigationBar {
    width: auto;
    height: 15vw;
    background-color: var(--mainColor);
}

.top {
    padding: 15em;
    background-color: var(--accentColor);
}

.sidebar {
    height: 100%;
    position: fixed; /* Stay in place */
    z-index: 2; /* Stay on top */
    top: 0;
    width: 60vw;
    left: -60vw;
    background-color: var(--mainColor2);
    overflow-x: hidden; /* Disable horizontal scroll */

    box-shadow: 2px 2px black;

    transition: left var(--mainTransition);
}

.sidebar ul {
    list-style: none;
}

.sidebar a {
    padding-top: 1.5em;
    padding-bottom: 1.5em;
    text-decoration: none;
    font-size: 3em;
    color: var(--normalFontColor);
}

.sidebar a:first-child {
    padding-left: 1em;
    padding-right: 1em;
}

.sidebar a:nth-child(2) {
    padding-right: 1.5em;
}

.sidebar a:hover {
    color: var(--mainColor);
}

.sidebar.collapsed {
    max-width: 0;
    overflow: hidden;
}

.closingArea {
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    /*left: -100vw;*/
    visibility: hidden;
    height: 100%;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);

    transition: all var(--mainTransition);
}

.horizontalSeparator {
    height: 3px;
    width: 80%;
    margin: 0 10% 0 10%;
    background-color: var(--accentColor2);
}

.verticalSeparator {
    height: 3em;
    width: 3px;
    background-color: var(--accentColor2);
}

.backArrow {
    /*bottom: 0;*/
    /*left: 0;*/
    width: 100%;
    /*margin-top: 30vw;*/
    padding-left: 1em;
    /*background-color: rgba(0, 0, 0, 0.1);*/
}

.backArrow span {

}


/* Profile Stuff */

.profileField {
    width: 90vw;
    /*margin: 5vw;*/
    background: white;
    padding: 5vh 2vh;
    }
    .profileField #profilePicture {
        display: block;
        height: 20vh;
        margin: 0 auto 5vh;
        border-radius: 100%;
        border: solid var(--backgroundColor) 7px;
    }
    .profileField h1 {
        width: 100%;
        text-align: center;
    }

    .profileField h3 {
        width: 100%;
        text-align: center;
    }

    .profileField #infoContainer {
        margin: 5vh 0;
        padding: 2vh;
    }

    .profileField h2 {
        margin: 1vh 0;
    }
    .profileField #beschreibung-info{
        font-size: 2rem;
        color: #717171;
    }

    .profileField #changeProfileButton {
        background: #d2470b;
        display: block;
        margin: 0 auto;
        width: fit-content;
        color: var(--fontColorAccent);
        padding: 1rem 3rem;
        font-size: 2rem;
        border-radius: 1rem;
    }
#settingField{
    padding:3rem;
    }
    #safe-message-container{
        width: 100%;
        z-index: 999;
        position: fixed;
        display: none;
    }
    #safe-message{

        width: 50%;
        display: block;
        margin: 2vh auto;
        padding: 2vh 5vh;
        border-radius: 2rem;
        font-size: 2rem;
        background: green;
        color: #FAFAFA;

    }
    .settingName{
        font-size: 3em;
        font-weight: bold;
        color: var(--normalFontColor);
    }
    .settingSubtext{
        font-size: 2em;
        font-weight: normal;
        color: var(--normalFontColor);
    }
    #settingField input{
        background: var(--backgroundColor);
        margin: 0.5vh 0;
        font-size: 2em;
        padding-left: 1em;
        border-style: none;
        border-radius: 1em;
    }
    #settingField .button{
        margin-left: 1rem;
    }
    #settingField .horizontalSeparator {
        height: 3px;
        width: 80%;
        margin: 2em 10%;
        background-color: var(--accentColor2);
    }

    #settingField .settingCategory{
        padding: 0 1em 1em 1em;
    }

    #settingField .settingCategory a{
        margin: 0 auto;
    }
    #settingField .back-button{
        background: var(--mainColor);
        display: block;
        margin: 4vh auto 0.5vh;
        width: fit-content;
        color: var(--fontColorAccent);
        padding: 1rem 3rem;
        font-size: 2rem;
        border-radius: 1rem;
    }
    #settingField .back-button:active{
        background: var(--mainColorActive);
    }
/*----EINSTELLUNGEN----*/


.settingCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    font-weight: bold;
    color: var(--normalFontColor);

}
.settingCategory a {
    margin-right: 1em;
    font-size: 4em;


}

.setting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
}

.setting div:first-child {
    display: grid;
}

.setting div:nth-child(2) {
    display: contents;
}

.setting a:first-child {
    font-size: 3em;
    font-weight: bold;
    color: var(--normalFontColor);
}

.setting a:nth-child(2) {
    font-size: 2em;
    font-weight: normal;
    color: var(--normalFontColor);
}

.toggle.ios, .toggle-on.ios, .toggle-off.ios {
    border-radius: 20px;
}

.toggle.ios .toggle-handle {
    border-radius: 20px;
}


/*----Toggle-Button----*/

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 5em;
    height: 3em;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 2.5em;
    width: 2.5em;
    left: 6px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}


/*----MEINE KURSE----*/
.enrolledCoursesCategory {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
}

.enrolledCoursesCategory a {
    margin-right: 1em;
    font-size: 4em;
    color: var(--normalFontColor);
}

.courses {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2em;
    padding-bottom: 2em;
}

.courses div:first-child {
    display: grid;
}

.courses div:nth-child(2) {
    display: contents;
}

.courses a:first-child {
    font-size: 3em;
    font-weight: bold;
    color: var(--normalFontColor);
}

.courses a:nth-child(2) {
    font-size: 2em;
    font-weight: normal;
    color: var(--normalFontColor);
}
