<header class="navigationBar">
    <a class="material-icons ico" onclick="openSidebar()">menu</a>
</header>

<div id="mySidebar" class="sidebar">  <!--">-->
    <div class="top"></div>
    <ul>
        <li>
            <a class="material-icons ico">view_quilt</a>
            <a href="index.html">Übersicht</a>
        </li>
        <div class="horizontalSeparator"></div>
        <li>
            <a class="material-icons ico">account_circle</a>
            <a href="profile.html">Mein Profil</a>
        </li>
        <div class="horizontalSeparator"></div>
        <li>
            <a class="material-icons ico">book</a>
            <a href="meineKurse.html">Meine Kurse</a>
        </li>
        <div class="horizontalSeparator"></div>
        <li>
            <a class="material-icons ico">settings</a>
            <a href="einstellungen.html">Einstellungen</a>
        </li>
    </ul>
    <div class="backArrow">
        <div class="horizontalSeparator"></div>
        <span class="material-icons ico" onclick="closeSidebar()">keyboard_backspace</span>
    </div>

</div>
<div id="closingArea" class="closingArea" onclick="closeSidebar()"></div>